---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-ipam-histack-ir-v1alpha1-clusterippool
  failurePolicy: Fail
  name: mclusterippool-v1alpha1.kb.io
  rules:
  - apiGroups:
    - ipam.histack.ir
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusterippools
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-ipam-histack-ir-v1alpha1-clusterippool
  failurePolicy: Fail
  name: vclusterippool-v1alpha1.kb.io
  rules:
  - apiGroups:
    - ipam.histack.ir
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusterippools
  sideEffects: None
