apiVersion: apps/v1
kind: StatefulSet
metadata:
    labels:
        k8s-app: ovn-central
    name: ovn-central
    namespace: ik8s-system
spec:
    serviceName: ovn-central
    replicas: 3
    selector:
        matchLabels:
            k8s-app: ovn-central
    template:
        metadata:
            labels:
                k8s-app: ovn-central
                name: ovn-central
        spec:
            containers:
                - name: nb-ovsdb
                  args:
                      - -c
                      - |
                          set -e
                          apt --update install dnsutils -y
                          CENTRAL_IP=$(nslookup ovn-central-0.ovn-central | awk '/^Address: / {print $2}' | tail -n1)
                          REPLICAS=$((REPLICAS))
                          if [ "$REPLICAS" -ge 3 ]; then
                            CLUSTER_CMD_OPTIONS=--db-nb-cluster-local-addr=${POD_IP}
                            if [ "$POD_NAME" != "ovn-central-0" ]; then
                                CLUSTER_CMD_OPTIONS="${CLUSTER_CMD_OPTIONS} --db-nb-cluster-remote-addr=${CENTRAL_IP}"
                            fi
                          fi

                          exec ovn-ctl run_nb_ovsdb \
                            ${CLUSTER_CMD_OPTIONS} \
                            --db-nb-addr=${POD_IP} \
                            --db-nb-create-insecure-remote=yes \
                            --log-file=/dev/stdout
                  command:
                      - sh
                  env:
                      - name: POD_NAME
                        valueFrom:
                            fieldRef:
                                fieldPath: metadata.name
                      - name: REPLICAS
                        value: "3"
                      - name: POD_IP
                        valueFrom:
                            fieldRef:
                                fieldPath: status.podIP
                  image: registry.devnovin.ir/novincloud/docker-images/ovs:dpdk
                  imagePullPolicy: IfNotPresent
                  ports:
                      - containerPort: 6641
                        protocol: TCP
                      - containerPort: 6643
                        protocol: TCP
                  resources: {}
                  securityContext:
                      capabilities:
                          add:
                              - NET_ADMIN
                              - SYS_MODULE
                              - SYS_NICE
                              - NET_BIND_SERVICE
                      privileged: true
                  volumeMounts:
                      - mountPath: /var/run/ovn
                        name: ovnrun
                      - mountPath: /var/lib/ovn
                        name: ovnlib
                      - mountPath: /var/log/ovn
                        name: log
                - name: sb-ovsdb
                  args:
                      - -c
                      - |
                          set -e
                          apt --update install dnsutils -y
                          CENTRAL_IP=$(nslookup ovn-central-0.ovn-central | awk '/^Address: / {print $2}' | tail -n1)
                          REPLICAS=$((REPLICAS))
                          if [ "$REPLICAS" -ge 3 ]; then
                            CLUSTER_CMD_OPTIONS=--db-sb-cluster-local-addr=${POD_IP}
                            if [ "$POD_NAME" != "ovn-central-0" ]; then
                                CLUSTER_CMD_OPTIONS="${CLUSTER_CMD_OPTIONS} --db-sb-cluster-remote-addr=${CENTRAL_IP}"
                            fi
                          fi

                          exec ovn-ctl run_sb_ovsdb \
                            ${CLUSTER_CMD_OPTIONS} \
                            --db-sb-addr=${POD_IP} \
                            --db-sb-create-insecure-remote=yes \
                            --log-file=/dev/stdout
                  command:
                      - sh
                  env:
                      - name: POD_NAME
                        valueFrom:
                            fieldRef:
                                fieldPath: metadata.name
                      - name: REPLICAS
                        value: "3"
                      - name: POD_IP
                        valueFrom:
                            fieldRef:
                                fieldPath: status.podIP
                  image: registry.devnovin.ir/novincloud/docker-images/ovs:dpdk
                  imagePullPolicy: IfNotPresent

                  ports:
                      - containerPort: 6642
                        hostPort: 6642
                        protocol: TCP
                  resources: {}
                  securityContext:
                      capabilities:
                          add:
                              - NET_ADMIN
                              - SYS_MODULE
                              - SYS_NICE
                              - NET_BIND_SERVICE
                      privileged: true
                  volumeMounts:
                      - mountPath: /var/run/ovn
                        name: ovnrun
                      - mountPath: /var/lib/ovn
                        name: ovnlib
                      - mountPath: /var/log/ovn
                        name: log

                - name: northd
                  env:
                      - name: REPLICAS
                        value: "3"
                  args:
                      - -c
                      - |
                          set -e
                          apt --update install dnsutils -y
                          REPLICAS=$((REPLICAS))
                          for i in $(seq 0 $((REPLICAS - 1))); do
                              IP=$(nslookup ovn-central-${i}.ovn-central | awk '/^Address: / {print $2}' | tail -n1)
                            if [ "$i" != "$ORDINAL" ]; then
                              OVN_NB_DB="${OVN_NB_DB},${IP}"
                              OVN_SB_DB="${OVN_SB_DB},${IP}"
                            fi
                          done
                          OVN_NB_DB="${OVN_NB_DB#,}"
                          OVN_SB_DB="${OVN_SB_DB#,}"

                          echo "NB DB: ${OVN_NB_DB}"
                          echo "SB DB: ${OVN_SB_DB}"

                          exec ovn-northd \
                            --ovn-northd-nb-db=${OVN_NB_DB}
                            --ovn-northd-sb-db=${OVN_SB_DB}
                            --log-file=/dev/stdout
                  command:
                      - ovn-northd
                  image: registry.devnovin.ir/novincloud/docker-images/ovs:dpdk
                  imagePullPolicy: IfNotPresent
                  resources: {}
                  securityContext:
                      capabilities:
                          add:
                              - NET_ADMIN
                              - SYS_MODULE
                              - SYS_NICE
                              - NET_BIND_SERVICE
                      privileged: true
                  volumeMounts:
                      - mountPath: /var/run/ovn
                        name: ovnrun
                      - mountPath: /var/lib/ovn
                        name: ovnlib
                      - mountPath: /var/log/ovn
                        name: log
            dnsPolicy: ClusterFirstWithHostNet
            hostIPC: true
            hostNetwork: true
            hostPID: true
            imagePullSecrets:
                - name: regcred
            nodeSelector:
                node-role.kubernetes.io/control-plane: "true"
            affinity:
                podAntiAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                        - labelSelector:
                              matchLabels:
                                  k8s-app: ovn-central
                          topologyKey: kubernetes.io/hostname
            volumes:
                - hostPath:
                      path: /var/run/ovn
                      type: DirectoryOrCreate
                  name: ovnrun
                - hostPath:
                      path: /var/lib/ovn
                      type: DirectoryOrCreate
                  name: ovnlib
                - hostPath:
                      path: /var/log/ovn
                      type: DirectoryOrCreate
                  name: log
---
apiVersion: v1
kind: Service
metadata:
    name: ovn-central
    namespace: ik8s-system
spec:
    clusterIP: None
    ipFamilies:
        - IPv4
    selector:
        k8s-app: ovn-central
